/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  /* Header style */
  header {
    background-color: #751BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  #highscore-btn {
    display: flex;
    justify-content:center;
    padding-right: 20px;
    margin-top: 20px;
  
  }
  
  #highscore-btn a {
    text-decoration: none;
    color:#fff;
  } 
  
  #highscore-btn button:hover {
    background-color: gray;
  }
  
  #highscore-btn button {
    background-color: #751BFF;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin-right:10px;
  }
  /* Quiz style*/  
  .quiz-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .start-box {
    text-align: center;
  }
  
  .screen-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .start-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .start-box button {
    background-color: #751BFF;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
  }
  
  .start-box button:hover {
    background-color: gray;
  }
  /*Question and answer choices style */
  #questions{
    text-align: center;
  }
  .choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .question-button {
    width: 300px;
    background-color: #fff;
    color: #751BFF;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .question-button:hover {
    background-color: gray;
  }
  /* Hide style */
  .hide {
    display: none;
  }
  /* Correct and incorrect answer choices style */
  .answer-result {
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
  }
  
  #correct {
    color: green;
  }
  
  #incorrect {
    color: red;
  }
  /* Highscore results screen style */
  #end-screen {
    text-align: center;
  }
  
  #score {
    font-weight: bold;
  }
  
  #index {
    flex-direction: column;
    text-align: center;
    
  }
  
  .index .screen-title {
    margin-bottom: 20px;
  }
  
  .index #highscore-list {
    font-size: 18px;
    list-style: none;
    margin-bottom: 20px;
    padding-left: 0;
  }
  
  .index #highscore-list li {
    margin-bottom: 10px;
  }
  
  .index button {
    background-color: #751BFF;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 10px;
  }
  
  .index button:hover {
    background-color: gray;
  }
  
  .index input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
  }
  /* Media queries and responsive design styling */
  @media screen and (max-width: 600px) {
    header {
        font-size: 24px;
    }
  
    #highscore-btn {
      display: flex;
      justify-content: center;
      padding-right: 0;
      margin-top: 20px;
  }
  
  #highscore-btn button {
      margin-right: 0;
  }
  
  .quiz-container {
      max-width: 500px;
  }
  
  .start-box {
      margin-bottom: 20px;
  }
  
  .screen-title {
      font-size: 24px;
  }
  
  .start-text {
      font-size: 16px;
  }
  
  .choices {
      flex-direction: row;
  }
  
  .question-button {
      margin-right: 10px;
      margin-bottom: 0;
      flex: 1;
  }
  }
  
  @media screen and (max-width: 400px) {
  .quiz-container {
  max-width: 300px;
  }
  
  .start-box button {
      font-size: 14px;
  }
  
  .choices {
      flex-direction: column;
  }
  
  .question-button {
      margin-right: 0;
      margin-bottom: 10px;
      flex: none;
  }
  }
  
  
  

